name: Release LLVM Base Tool

on:
  workflow_dispatch:
  push:
    branches:
      - release-workflow

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 1200
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: release
          file: release/llvm/Dockerfile
          push: true
          tags: ghcr.io/marcelkottmann/armembeddon/tools-base-llvm:0.0.1
